@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    font-family: "Ubuntu", system-ui;
    scroll-behavior: smooth;
}

#canvas-container {
    position: relative;
    height: 100dvh;
    width: 100%;
}

#canvas-container canvas {
    height: auto !important;
    position: absolute;
    width: 100%;
    bottom: 0;


}

.contenidoscroll {
    scrollbar-width: none;
}

.contenidoscroll {
    ::-webkit-scrollbar {
        display: none;

    }
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    transition-timing-function: linear !important;
    position: relative;
    user-select: none;
    -webkit-touch-callout: none;
    backface-visibility: hidden;
}

.swiper-slide {
    width: auto !important;
}

/* // Arreglando estilos de listas para blog ↓ */
.blog-container blockquote {
    border-left: 5px solid #ccc;
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.ck-editor__editable ol li,
.blog-container ol li {
    font-weight: 300 !important;
    list-style: decimal !important;

}

.ck-editor__editable ul li,
.blog-container ul li {
    font-weight: 300 !important;
    list-style: disc !important;
}

.ck.ck-content h2,
.blog-container h2 {
    font-size: 30px !important;
}

.ck.ck-content h3,
.blog-container h3 {
    font-size: 24px !important;
}

.ck.ck-content h4,
.blog-container h4 {
    font-size: 20px !important;
}

.ck.ck-content blockquote,
.blog-container blockquote {
    word-break: break-word !important;
}

.ck.ck-content a,
.blog-container a {
    text-decoration: underline;
}

.blog-container figure.media{
    aspect-ratio: 560/315;
    max-width: 700px;
}

.blog-container figure.media iframe{
    height: 100%;
    width: 100%;
}

.blog-container figure.table {
    display: table !important;
    margin: .9em auto !important;
    width: 100% !important;
}

.blog-container figure table {
    border: 1px double #b3b3b3 !important;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    height: 100% !important;
    width: 100% !important;
    overflow: hidden !important;
}

.blog-container figure table td,
.blog-container figure table th {
    border: 1px solid #bfbfbf !important;
    min-width: 2em !important;
    padding: .4em !important;
}

.ck.ck-content ol,
.ck.ck-content ul {
    padding-left: 2rem !important;
    margin-bottom: 1rem !important;
}

.ck.ck-content ol {
    list-style: decimal !important;
}

.ck.ck-content ul {
    list-style: disc !important;
}

.ck-editor__editable figure {
    margin: none;
    width: 100%;
}

.ck-editor__editable img,
.blog-container img {
    height: auto;
    width: 100% !important;
    max-width: 100% !important;
}

/* ------------- */
.bg-home {
    border-radius: 20px;
    opacity: 0.3;
    background: rgba(19, 19, 19, 0.28);
    mix-blend-mode: multiply;
}

.bg-home {
    border-radius: 20px;
    opacity: 0.5;
    background: rgba(19, 19, 19, 0.28);
    mix-blend-mode: multiply;
}